<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div
        v-for="todo in todos"
        :key="todo.title"
        :style="{ textDecoration: todo.checked ? 'line-through' : 'none' }"
      >
        <input type="checkbox" v-model="todo.checked" />

        {{ todo.title }}
      </div>
    </div>
  </body>
</html>

<script>
  let app = new Vue({
    el: '#app',
    data: {
      todos: [
        { title: 'assignment1', checked: true },
        { title: 'assignment2', checked: false },
        { title: 'assignment3', checked: false },
      ],
    },
  });
</script>
