/* style for p tag */
p{
    color: red;
}

/* style for title class */
.title{
    color: blue;
}

/* style for id */
#container{
    font-size: small;
    border: 1px solid green;
}

img{
    height: 500px;
    width: 500px;
}